<div class="metrics">
  <ul>
    <li>Metrics overview<span class="tooltip-metrics">
        <img alt="info-icon" class="home-tooltip-icon"
             src="/profiles/pfeconconnectpfcom_profile/themes/onconnect/images/icons/info-small.svg"/>
        <span class="matrics-tooltip-home">{{ data.hover_dashboard }}</span> </span>
    </li>
    <li>Abstracts submitted<span>{{ data.abstracts_submitted }}</span></li>
    <li>Twitter followers<span>{{ data.twitter_followers }}</span></li>
    <li>QxMD articles launched<span>{{ data.qmd_article_launched }}</span></li>
    <li>Congressess attended<span>{{ data.total_congress_exhibits }}</span></li>
  </ul>
  <p><a href="#metrics-dashboard-data">View metrics dashboard<span>
      <img alt="down-arrow icon"
           src="/profiles/pfeconconnectpfcom_profile/themes/onconnect/images/icons/arrow_downward.svg"/></span></a></p>
</div>
